$background_color: #1f1e1e;
$content_background_color: #1f1e1e;
$header_background_color: #111010;
$aside_background_color: #111010;
$artist_background_color: #282828;
$artist_font_color: #6a6a6a;
$play_color: #09ff00;
$black: #000;
$white: #fff;
$album_background_color: #46464682;
